.container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 90vw;
  justify-content: center;
  border-radius: 8px;
  height: min-content;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.08);
}

.container form {
  justify-self: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: none;
    grid-template-columns: 1fr 2fr;
  }

  .container form {
    grid-column-start: 2;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }

  .container textarea {
    width: calc(200% + 1em);
  }

  .container button {
    justify-self: end;
    grid-row: 4;
    grid-column-start: 2;
    width: 80%;
  }
}
