.area {
  display: flex;
  flex-direction: column;
}

.area label {
  padding: 0.5em 0;
  color: var(--secondary-text-color);
}

.textarea textarea {
  width: 100%;
  height: 100px;
  padding: 0.8em;
  resize: none;
}
